h1, p {
    font-family: Lato;
  }
  
  .result {
    border: 1px solid #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  #color-picker {
    display: none;
  }
  
  .select {
    cursor: pointer;
    position: absolute;
    left: 65px;
    top: 27px;
  }
  
  .select:before{
      content: "▼";
  }